{{> banner}}
{{>paragraph_top}}
  {{#if news.display}}
    <h1 style="text-align: center;" padding="0" margin="0">{{I18n lang 'user_news' user}}</h1>
    {{{i18n lang news.key}}}
  {{/if}}
  <br />
  <h1 style="text-align: center;">{{I18n lang 'activity summary'}}</h1>
  {{#if hasActivities}}
    {{#if friendsRequests.display}}
      {{{i18n lang 'pending_friends_requests_count' friendsRequests}}}
      <br />
    {{/if}}
    {{#if groupInvitations.display}}
      {{{i18n lang 'pending_group_invitations_count' groupInvitations}}}
      <br />
    {{/if}}
    {{#if groupRequests.display}}
      {{{i18n lang 'pending_group_requests_count' groupRequests}}}
      <br />
    {{/if}}
    {{#if unreadNotifications.display}}
      {{{i18n lang 'unread_notifications_count' unreadNotifications}}}
      <br />
    {{/if}}
    {{#if activeTransactions.display}}
      {{{i18n lang 'active_transactions_count' activeTransactions}}}
      <br />
    {{/if}}
  {{else}}
    <p style="background-color: #eeeeee; text-align:center; padding: 10px;">
      {{{i18n lang 'no_activity'}}}
    </p>
  {{/if}}
{{>paragraph_bottom}}

{{>last_books lastFriendsBooks}}
{{>last_books lastNearbyPublicBooks}}

{{>paragraph_top}}
  {{> row_top}}
    <h2>{{I18n lang 'did you know?'}}</h2>
    <ul>
      <li>
        {{{i18n lang didYouKnowKey}}}
      </li>
    </ul>
    <hr>
    <small>
      {{{i18n lang 'activity_summary_meta' meta}}}
    </small>
  {{> row_centered_bottom}}
{{>paragraph_bottom}}