{{>paragraph_top}}
  {{#if user}}
    <h4>{{user.username}}</h4>
    {{user.email}} - {{user._id}}
    confirmed email: {{user.validEmail}}
  {{else}}
    <h4>{{unknownUser}}</h4>
  {{/if}}
  <hr>
  <p>
    {{subject}}
  </p>
  <hr>
  <p>
    {{message}}
  </p>
  {{#if uris}}
    <ul>
      {{#each uris}}
        <li>
          <a href="{{../host}}/entity/{{this}}">{{this}}</a>
        </li>
      {{/each}}
    </ul>
  {{/if}}
{{>paragraph_bottom}}
