{{>title_top}}
    <h2>{{friend.username}} accepted your request!</h2>
{{>title_bottom}}


{{>button_top}}
    <a href="{{host}}/inventory/{{friend.username}}" target="_blank">go to {{friend.username}}'s inventory</a>
{{>button_bottom}}

{{>paragraph_top}}
    <small>
    raw link: {{host}}/inventory/{{friend.username}}
    </small>
{{>paragraph_bottom}}
