{{>title_top}}
    <h2>{{otherUser.username}} invites you to connect your inventories!</h2>
{{>title_bottom}}


{{>button_top}}
    <a href="{{host}}/inventory/{{otherUser.username}}" target="_blank">go to {{otherUser.username}}'s inventory to accepts the invitation</a>
{{>button_bottom}}

{{>paragraph_top}}
    <small>
    raw link: {{host}}/inventory/{{otherUser.username}}
    </small>
{{>paragraph_bottom}}
