{{#if image}}
  {{> row_centered_top}}
    <img src="{{imgSrc image 200}}" alt="{{item.title}}">
  {{> row_centered_bottom}}
{{/if}}
{{>title_top}}
  <h2 style="font-size:1.2em;">{{{i18n lang subject this}}}</h2>
  {{!-- everything happens here --}}
  {{>timeline this}}

{{>title_bottom}}
{{>button_top}}
    <a href="{{link}}" target="_blank">
      {{i18n lang button requester}}
    </a>
{{>button_bottom}}
{{>general_info}}