{{>title_top}}
    <h1>Thank you {{user.username}} for joining Inventaire!!</h1>
{{>title_bottom}}


{{>button_top}}
    <a href="{{host}}/api/auth/public/token?token={{token}}" target="_blank">Confirm your email address</a>
{{>button_bottom}}

{{>paragraph_top}}
    Please, visit this link so that we can use your email address in the future, knowing it's really yours, to help you reset your password or things like that.
    <br />
    <small>
    raw link: {{host}}/api/auth/public/token?token={{token}}
    </small>
{{>paragraph_bottom}}
