{{>banner}}
{{>title_top}}
    <h1>{{i18n lang 'email_confirmation_title' user}}</h1>
{{>title_bottom}}

{{>button_top}}
    <a href="{{href}}" target="_blank">{{i18n lang 'email_confirmation_button'}}</a>
{{>button_bottom}}

{{>paragraph_top}}
    {{i18n lang 'email_confirmation_paragraph'}}
    <br />
    <br />
    <small>
      {{i18n lang 'raw links:'}} {{href}}
    </small>
{{>paragraph_bottom}}
{{>general_info}}