{{>footer_top}}
<br/>{{{i18n lang 'you_are_welcome_to_reply'}}}
<br/>
<br/>
<h4>{{i18n lang 'Follow Inventaire developments'}}</h4>
<p class="textCenter">
<a target="_blank" href="https://facebook.com/inventaire.io">facebook</a>&nbsp; -
<a target="_blank" href="https://twitter.com/inventaire_io">twitter</a>&nbsp; -
<a target="_blank" href="https://github.com/maxlath/inventaire">github</a>&nbsp;
</p>
<br/>
<h4>{{i18n lang 'get_involved'}}</h4>
<br/>
{{{i18n lang 'contribution_ideas'}}}
<br/>
<br/>
<h4>{{i18n lang 'next_functionalities_title'}}</h4>
<ul>
  <li>{{i18n lang 'Groups'}}</li>
  <li>{{i18n lang 'Transactions tracking (know where is your book)'}}</li>
  <li>{{i18n lang 'Messaging'}}</li>
</ul>

<br/>
<hr/>
<small>
{{i18n lang 'raw links:'}}
<br/> [1] https://inventaire.io
<br/> [2] https://facebook.com/inventaire.io
<br/> [3] https://twitter.com/inventaire_io
<br/> [4] https://github.com/maxlath/inventaire
<br/> [5] https://trello.com/b/0lKcsZDj/inventaire-community
<br/> [6] https://www.transifex.com/projects/p/inventaire/
<br/> [7] https://github.com/maxlath/inventaire/issues
</small>
<br/>
<br/>
<br/>{{{i18n lang 'stop_email_notifications' user}}}
{{>footer_bottom}}
