{{>general_info_top}}
<br/>{{{i18n lang 'you_are_welcome_to_reply'}}}
<br/>
<h4>{{i18n lang 'get_involved'}}</h4>
<br/>
{{{i18n lang 'contribution_ideas'}}}
<br/>
<br/>
<h4>{{i18n lang 'next_functionalities_title'}}</h4>
<ul>
  <li>{{i18n lang 'Groups'}}</li>
  <li>{{i18n lang 'Find books by geolocation'}}</li>
</ul>
<br/>
<br/>
<h4>{{i18n lang 'Follow Inventaire developments'}}</h4>
<p class="textCenter">
<a target="_blank" href="https://facebook.com/inventaire.io">facebook</a>&nbsp; -
<a target="_blank" href="https://twitter.com/inventaire_io">twitter</a>&nbsp; -
<a target="_blank" href="https://github.com/inventaire/inventaire">github</a>&nbsp;
</p>
<hr />
<br />
<small style="background-color: #EEEEEE; width: 90%; text-align:center;">
  {{{i18n lang 'stop_email_notifications' user}}}
</small>
{{>general_info_bottom}}
